= stylesheet 'splice_reports/filters'

.grid_16
  -# SEE users_controller in katello, help tips may need to be added to the controller and route
  -#= help_tip_button
  -#= help_tip(_("Report Filters allow a user to view a report of system check-in's that meet " # |
  -#  			"a filters criteria.  For example you may create filters to view system " + | 
  -#  			"check-in's from a specific organization or for a specific time period."  )) |

.grid_16#main
  = two_panel(@filters, @panel_options)

= javascript :splice_reports